@model IEnumerable<Entities.Sensor>

@{
    ViewData["Title"] = "Index";
}

<h2>Sensors for Zone: @ViewBag.Zone.Name</h2>
<p>@ViewBag.Zone.Description</p>

<p>
    <a asp-route-zoneId="@ViewBag.Zone.Id" asp-action="Create">Create New Sensor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientSecretKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zone.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientSecretKey)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-zoneId="@ViewBag.Zone.Id" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-zoneId="@ViewBag.Zone.Id" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-zoneId="@ViewBag.Zone.Id" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
